:root {
  --main-dark: #026e81;
  --main-blue: #0099dd;
  --main-teal: #00abbd;
  --main-orange: #ff9933;
  --main-light: #a1c7e0;
}
h1 {
  color: black;
  opacity: 0.75;
}
body{
  overflow-x: hidden;
}
.bold {
  font-weight: bold;
  text-decoration: solid;
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.main-text {
  width: 48%;
  padding: 5%;
}
.main-text-orn {
  position: absolute;
  filter: invert(68%) sepia(79%) saturate(28%) hue-rotate(-245deg)
    brightness(125%) contrast(97%);
  font-size: 180px;
  font-weight: 900;
  transform: translateY(-80px) translateX(-50px);
  font-family: "Bold";
}
#main-text__readmore {
  display: flex;
  width: 48%;
  justify-content: flex-end;
  align-items: self-end;
  height: 30px;
  margin-top: 330px;
  padding-right: 5%;
}
#main-text__readmore a {
  text-decoration: none;
  color: var(--main-teal);
}
#main-text__readmore a:hover {
  color: #026e81;
}
#main-text__readmore i {
  content: ">";
  color: var(--main-teal);
  font-size: 13px;
  padding-bottom: 2px;
  padding-left: 10px;
}
#main-text__readmore:hover .fa-solid {
  color: #026e81;
  transform: translateX(5px);
}
.readmore-arrow {
  width: 450px;
  position: absolute;
  transform: translateY(100px);
  filter: invert(68%) sepia(79%) saturate(28%) hue-rotate(-245deg)
    brightness(125%) contrast(97%);
  z-index: -1;
}
.main-text h1 {
  font-size: 55px;
  font-family: "Bold";
}
.main-text p {
  font-size: 20px;
  padding-right: 50px;
}

.main-book-button {
  width: 300px;
  display: flex;
  place-content: center;
  align-items: center;
}

.main-book-button a {
  text-decoration: none;
  padding: 15px 30px;
  background-color: var(--main-teal);
  border-radius: 30px;
  transition: 0.5s;
  font-family: "Bold";
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
}
.main-book-button a:hover {
  color: white;
  background-color: var(--main-dark);
}

.main-img {
  width: 45%;
  padding-top: 70px;
}

.main-img1 {
  width: 80%;
  box-shadow: 0 0 2em rgb(87, 87, 87);
  border-radius: 30px;
  z-index: 1;
  position: relative;
}

.main-img2 {
  width: 80%;
  transform: translateX(150px) translateY(-100px);
  box-shadow: 0 0 2em rgb(87, 87, 87);
  border-radius: 30px;
  z-index: 2;
  position: relative;
}

.slider-box {
  width: 80%;
}

.slider-card {
  width: 90%;
  margin: auto;
  padding: 30px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.slider-card:hover {
  background-color: rgba(161, 199, 224, 0.15);
  border-radius: 30px;
}
.slider-card h1 {
  font-family: "Bold";
}
.slider-card img {
  width: 100%;
  height: 350px;
  border-radius: 30px;
}

.slider-card a {
  text-decoration: none;
  color: #00abbd;
  font-family: "Bold";
}
.slider-card a:hover {
  color: #026e81;
}
.mid-text {
  text-align: justify;
  margin-bottom: 150px;
}

.mid-text h1 {
  font-family: "Bold";
  font-size: 58px;
  text-align: center;
}
.mid-text p {
  font-size: 15px;
  line-height: 1.5;
}
.mission-box h3,
.vision-box h3,
.motto-box h3 {
  font-size: 30px;
  font-weight: 900;
  font-family: "Bold";
  margin-bottom: 0px;
}
.mission-box {
  padding: 5px 30px 15px;
  border-radius: 30px;
  background-color: rgba(161, 199, 224, 0.1);
  margin-bottom: 50px;
}
.mission-orn{
  font-size: 140px;
  transform: translateY(-70px) translateX(-70px);
  position: absolute;
  font-weight: 900;
  font-family: "Bold";
  color: rgba(161, 199, 224, 0.15);
}
.vision-orn{
  font-size: 140px;
  transform: translateY(-50px);
  position: absolute;
  font-weight: 900;
  font-family: "Bold";
  color: rgba(161, 199, 224, 0.15);
}
.motto-orn{
  font-size: 140px;
  position: absolute;
  font-weight: 900;
  font-family: "Bold";
  transform: translateY(300px) translateX(-120px);
  color: rgba(161, 199, 224, 0.15);
}
.motto-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.motto-img{
  width: 65%;
  object-fit: cover;
  height: 300px;
  border-radius: 30px;
  margin: 25px 0px;
}
.motto-box{
  width: 60%;
  background-color: rgba(161, 199, 224, 0.1);
  border-radius: 30px;
  padding: 5px 30px 30px;
}
.vision-box{
  width: 25%;
  border-radius: 30px;
  padding: 5px 25px;
  background-color: rgba(161, 199, 224, 0.1);

}
.opinions-slider {
  margin: auto;
  height: auto;
  padding: 80px 100px;
  width: 80%;
  background: rgb(0, 171, 189);
  background: linear-gradient(
    28deg,
    rgba(0, 171, 189, 0.1) 0%,
    rgba(255, 255, 255, 1) 93%
  );
  border-radius: 30px;
}
.star {
  color: #e4bf1a;
  font-size: 17px;
}

.op-subtext {
  transform: translateY(-15px);
  color: grey;
}
.trust {
  margin: 100px;
  padding: 50px;
  background-color: #ff9933;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 1em rgb(87, 87, 87);
}
.trust-box h2 {
  font-family: "Bold";
  font-size: 40px;
}
.trust-box {
  width: 70%;
}

.trust-contact {
  text-decoration: none;
  color: white;
  border: 1px white solid;
  padding: 13px 25px;
  font-size: 20px;
  border-radius: 30px;
  font-family: "Bold";
  transition: 1s ease-in-out;
}
.trust-contact:hover {
  background-color: white;
  color: #ff9933;
}

.customers {
  margin-bottom: 100px;
  display: flex;
  margin-top: -30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.custom-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.custom-title h1 {
  margin-top: 100px;
  font-size: 70px;
  font-family: "Regular";
}
.custom-title h2 {
  font-size: 50px;
  transform: translateY(-60px);
  color: rgba(0, 0, 0, 0.75);
}

.custom-card__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.custom-card {
  width: 120px;
  font-size: 20px;
  padding: 20px 20px;
  margin: 30px 20px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  font-family: "Bold";
  color: var(--main-dark);

  background-position-y: 500px;
  background-repeat: no-repeat;
  text-align: center;
  filter: saturate(0%) opacity(50%);
}
.custom-card p {
  font-family: "Regular";
  color: var(--main-dark);
  font-size: 12px;
}
.custom-card:hover {
  background-position-y: 50px;
  filter: saturate(100%) opacity(100%);
  box-shadow: 0 0 10px rgb(235, 235, 235);
}
.custom-card a {
  font-family: "Regular";
  text-decoration: none;
  font-size: 15px;
  color: var(--main-orange);
  transition: 1.5s ease-in-out;
}
.custom-card a:hover {
  color: #026e81;
}
.custom-card h2 {
  font-size: 19px;
}

.faq-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.faq-box {
  width: 70%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.faq-box h1 {
  font-size: 50px;
  font-family: "Bold";
}
hr {
  opacity: 0.3;
}

.quest-container {
  opacity: 0.45;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.quest-active {
  opacity: 1;
}

.quest-container:hover,
.quest-container:focus {
  opacity: 1;
}
.quest-box {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer-box {
  cursor: pointer;
}
.answer-box p {
  font-size: 18px;
  padding: 20px 0;
}
.quest-box i {
  font-size: 26px;
}

.success-top-box {
  width: 100%;
}

.success-top-box {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 650px;
  align-items: center;
}
.success-top-text {
  text-align: center;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.success-top-text h1 {
  color: white;
  opacity: 1;
  font-size: 100px;
  line-height: 8px;
}
.success-top-text p {
  font-size: 30px;
}
.success-top-box img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(35%);
}
.success-container {
  width: 45%;
  text-align: center;
  padding-left: 25%;
  line-height: 1.7;
  height: auto;
  margin-top: 150px;
}
.success-container .bold {
  color: var(--main-blue);
}
.success-container h1 {
  font-size: 60px;
  line-height: 1;
}
.success-bg-text {
  position: absolute;
  font-size: 150px;
  right: 15%;
  margin-top: 85px;
  font-weight: 900;
  font-family: "Bold";
  filter: invert(68%) sepia(79%) saturate(28%) hue-rotate(-245deg)
    brightness(125%) contrast(97%);
}
.success-button {
  width: auto;
}
.success-container h3 {
  color: var(--main-blue);
}
.success-title {
  font-size: 23px;
}
.success-ad {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(123, 204, 246, 0.16);
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  margin-bottom: -50px;
}

.success-ad p {
  color: var(--main-blue);
  font-size: 18px;
}
.success-ad h3 {
  margin: 0px auto 30px auto;
  font-size: 50px;
  width: 60%;
  font-weight: 100;
  text-align: center;
}
.succes-bg1 {
  position: absolute;
  z-index: -2;
  width: 100%;
  opacity: 0.5;
  margin-top: 600px;
  height: 800px;
}
.programmer-success {
  position: absolute;
  height: 500px;
  left: 70px;
  margin-top: 500px;
}
@media only screen and (max-width: 1080px) {
  .nav-contact {
    width: 370px;
  }
  .main-box {
    margin-top: 80px;
  }
  .main-text h1 {
    font-size: 20px;
  }
  .main-text p {
    font-size: 16px;
  }

  .main-img2 {
    transform: translateX(105px) translateY(-102px);
  }

  .footer-text {
    height: 300px;
  }

  #main-text__readmore {
    margin-top: 120px;
  }
  .trust {
    margin: 100px 10px;
  }
  .trust-contact {
    font-size: 15px;
  }
  .slider-card img {
    height: 250px;
  }
  .slider-card h1 {
    font-size: 20px;
  }

  .opinions-slider {
    width: 90%;
  }
  .faq-box {
    width: 100%;
  }
  .main-box:nth-of-type(2) {
    margin-top: 0px;
  }
  .programmer-success{
    left: 0px
  }
}

@media only screen and (max-width: 700px) {
  .main-box {
    flex-direction: column;
    text-align: justify;
  }
  .main-text {
    width: 100%;
    padding: 0px;
  }
  .main-text p {
    padding-right: 0px;
  }
  .main-img {
    text-align: center;
    width: fit-content;
    margin-bottom: 25px;
  }
  .main-img1 {
    width: 90%;
  }
  .main-img2 {
    display: none;
  }
  .main-book-button {
    width: auto;
    text-align: center;
  }
  #main-text__readmore {
    margin-top: 0px;
    width: 100%;
  }
  .slider-card {
    width: auto;
    padding: 30px 10px;
    text-align: justify;
  }

  .slider-card img {
    height: 180px;
    object-fit: cover;
  }
  .slider-box {
    width: 95%;
  }
.mid-text h1{
  font-size: 35px;
}
.mid-text p{
  font-size: 12px;
}
.motto-img{
  display: none;
}
.vision-box{
  width: 100%;
}
.motto-box{
  width: 100%;
  margin-top: 50px;
}
  .opinions-element {
    text-align: justify;
  }
  .opinions-slider{
    padding: 50px 7px;
  }
  .trust {
    flex-direction: column;
    padding: 30px 10px;
    margin: 30px 10px;
  }
  .trust-box {
    width: 90%;
  }
  .trust-box h2 {
    font-size: 28px;
  }
  .custom-title {
    align-items: baseline;
  }
  .custom-title h1 {
    font-size: 35px;
  }
  .custom-title h2 {
    font-size: 25px;
    transform: translateY(-20px);
  }
  .custom-card {
    width: 100%;
  }
  .custom-card__img {
    width: 140px;
    height: 140px;
  }
  .faq-box h1 {
    font-size: 30px;
  }
  .quest-box h1 {
    font-size: 17px;
  }
  .quest-box i {
    font-size: 15px;
  }
  .answer-box p {
    font-size: 13px;
  }
  .success-top-text h1{
    font-size: 40px;
  }
  .success-top-text h3{
    font-size: 13px;
  }
  .success-container{
    padding: 10px;
    width: 100%;
    margin-top: 50px;
  }
  .success-container h1{
    font-size: 25px;
  }
  .success-bg-text{
    z-index: -1;
    transform: translateY(-100px) translateX(50px);
  }
  .success-container h2{
    font-size: 17px;
    padding: 0px 15px;
  }
  .success-container p{
    font-size: 12px;
    padding: 0px 10px;
  }
  .success-container .success-title {
    font-size: 18px;
  }
  .programmer-success{
    opacity: 0.2;
    z-index: 0;
  }
  .success-container h3{
    font-size: 15px;
    padding: 0px 15px;
  }
  .success-ad h3{
    width: 90%;
    font-size: 35px;
  }
}
