.bold {
    font-family: "Bold";
}

.captcha-text{
    font-size: 10px;
    margin-top: 50px;
}
.contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact-box {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.contact-text {
  margin-top: 100px;
  width: 45%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-img {
  width: 45%;
}
.contact-input {
  width: 85%;
  padding: 12px;
  border-radius: 30px;
  border: solid 1px var(--main-teal);
  margin: 10px;
  font-size: 16px;
}
.contact-msg {
  height: 35px;
  resize: none;
  font-family: "Regular";
  transition: 0.7s;
}

.contact-msg:active,
.contact-msg:focus {
  height: 150px;
}

.contact-submit__button {
  width: 85%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  font-size: 20px;
  font-family: "Bold";
  background-color: var(--main-teal);
  color: white;
  cursor: pointer;
}
.contact-submit__button:hover {
  background-color: var(--main-dark);
}
.contact-text h1 {
  font-size: 40px;
}
.contact-img {
  width: 35%;
  height: 600px;
  background-image: url("../../images/img5.jpg");
  background-size: cover;
  z-index: 10;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 30px;
  box-shadow: 0 10px 2em rgb(87, 87, 87);
  transform: translateY(85px);

}
.link{
  color: var(--main-teal);
  cursor: pointer;
}
.link:hover{
  color: var(--main-dark);
}

@media only screen and (max-width: 1080px) {
.contact-box{
  width: 95%;
}
.contact-img{
  height: 480px;
}
.contact-text h1{
font-size: 28px;
}
.contact-input{
  font-size: 13px;
}
.contact-submit__button{
  font-size: 15px;
}
}

@media only screen and (max-width: 600px) {
.contact-box{
  flex-direction: column;
}
.contact-text{
  width: 100%;
}
.contact-img{
display: none;}
}