footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  
  margin-top: 200px;
  padding: 50px 10%;
}

.footer-flexbox {
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  width: 100%;
  display: flex;
}
.footer-aside img {
  width: 80%;
  height: auto;
}
.footer-aside {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  display: flex;
  width: 80vw;
  height: 170px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  justify-content: center;
}
.footer-text h3 {
  margin: 5px;
  font-family: "Bold";
  font-weight: 700;
  font-size: 18px;
  font-size: 22px;
  color: var(--main-dark);
}
.footer-text a {
  width: 300px;
  margin: 5px;
  align-self: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.footer-text a:hover {
  color: var(--main-teal);
}
.foot-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.foot-img {
  height: fit-content;
}
.foot-inf{
    display: flex;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3);
}
.foot-inf-box{
    display: flex;
}
.foot-inf-box p,
.foot-inf-box a{
    margin: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.foot-inf-box a:hover{
    color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px) {
    footer{
        margin-top: 50px;
        padding: 0px;
        width: 100%;
    }
    .footer-flexbox{
        flex-direction: column-reverse;
    }
    .footer-text{
        height: auto;
        padding: 3px;
        width: 100%;
    }
    .footer-aside{
        width: 100%;
    }
    .footer-aside img{
        width: 30%;
    }
    .footer-bottom{
        flex-direction: column;
        padding: 0px 10px;
    }
    .foot-box{
        width: 100%;
    }
    .foot-img{
        width: 100%;
        margin-top: 20px;
    }
    .foot-inf-box p,
    .foot-inf-box a{
        margin: 8px;
        font-size: 10px;
    }
    .footer-text a{
        width: auto;
      }
}