footer {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 50px 0;
}

.footer-flexbox {
  width: 100%;
  display: flex;
}
.footer-aside img {
  width: 80%;
  height: fit-content;
}
.footer-aside {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  display: flex;
  width: 80vw;
  height: 25vh;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.footer-text h3 {
  margin: 5px;
  font-family: "Bold";
  font-weight: 700;
  font-size: 18px;
  font-size: 22px;
  color: var(--main-dark);
}
.footer-text a {
  width: 300px;
  margin: 5px;
  align-self: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.footer-text a:hover {
  color: var(--main-teal);
}
.foot-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.foot-img {
  height: fit-content;
}
.foot-inf{
    display: flex;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3);
}
.foot-inf-box{
    display: flex;
}
.foot-inf-box p,
.foot-inf-box a{
    margin: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.foot-inf-box a:hover{
    color: rgba(0, 0, 0, 0.8);
}