@font-face {
  font-family: "Regular";
  src: local("AirbnbCerealLight"),
    url("./fonts/altehaasgroteskregular.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("AirbnbCerealLight"),
    url("./fonts/altehaasgroteskbold.ttf") format("truetype");
}


body {
  font-family: "Regular";
}