:root {
  --main-dark: #026e81;
  --main-blue: #0099dd;
  --main-teal: #00abbd;
  --main-orange: #ff9933;
  --main-light: #a1c7e0;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 20;
  padding: 10px;
  justify-content: space-around;
  transform: translateY(-10px);
}
.menu-btn {
  display: none;
}
.nav-box {
  width: 80%;
  display: flex;
  z-index: 19;
  align-items: center;
}

.nav-logo {
  width: 150px;
}
.nav-container {
  display: flex;
  list-style-type: none;
  width: 90%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-links {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-weight: 700;
}
.nav-container i {
  padding-left: 8px;
  font-size: 13px;
  transition: transform 0.2s ease-in-out;
}
.fa-solid {
  transition: transform 0.2s ease-in-out;
}

#nav-cont:hover .fa-solid {
  transform: translateX(5px) translateY(-3px) rotate(90deg);
  color: #00abbd;
}
#nav-cont:focus .fa-solid {
  color: #00abbd;
}
#nav-cont:hover .nav-links {
  color: #00abbd;
}

.nav-contact {
  width: 300px;
  display: flex;
  place-content: center;
  align-items: center;
}

.nav-contact > * {
  text-decoration: none;
  padding: 10px 30px;
  color: var(--main-orange);
  border-radius: 20px;
  border: solid 2px var(--main-orange);
  transition: 0.5s;
  font-family: "Bold";
}
.nav-contact > *:hover {
  color: white;
  background-color: #ff9933;
}

.work-drop {
  height: 300px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 70px;
  left: -8px;
  z-index: 19;
  color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity.2s;
  padding: 50px;
  display: flex;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 30px 2em rgba(0, 0, 0, 0.2);
}
.work-hidden {
  position: absolute;
  top: -500px;
  left: 0px;
  opacity: 0;
  z-index: -5;
  transition: opacity.2s;
}
.work-nav-title {
  width: 30vw;
  padding: 0 20px;
}
.work-nav-container {
  display: flex;
  flex-wrap: wrap;
}

.work-nav-box {
  width: 18vw;
}
.work-nav-box > * {
  transition: 0.5s ease-in-out;
}
.work-nav-title a {
  color: #0099dd;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
}
.work-nav-title a:hover {
  color: #026e81;
}
.work-nav-title h3 {
  font-family: "Bold";
  color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.work-nav-box:hover > h3 {
  cursor: pointer;
  color: #ff9933;
}
.work-nav-box:hover > p {
  cursor: pointer;
}
.small {
  display: none;
}
.big{
  display: block;
}

@media only screen and (max-width: 1080px) {
  .work-nav-title h1 {
    font-size: 20px;
  }
  .work-nav-box h3 {
    font-size: 15px;
    padding: 2px;
  }
  .work-nav-box p {
    font-size: 12px;
    padding: 2px;
  }
  .nav-box {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .small{
    display: block;
  }
  .big{
    display: none;
  }
  nav{
    width: 100vw;
  }
  .nav-container {
    display: none;
  }
  .nav-box {
    justify-content: space-between;
  }
  .nav-contact {
    display: none;
  }
  .menu-icon {
    display: block;
    z-index: 25;
  }

  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-right: 20px;
  }
  nav .menu-icon .nav-icon {
    background-color: var(--main-dark);
    display: block;
    height: 5px;
    width: 25px;
    position: relative;
    transition: 0.2s ease-in-out;

  }

  nav .menu-icon .nav-icon::before,
  nav .menu-icon .nav-icon::after {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: 0.2s ease-in-out;
  }

  nav .menu-icon .nav-icon::before {
    top: 9px;
    width: 20px;
    background-color: #026e81;
  }
  nav .menu-icon .nav-icon::after {
    top: -9px;
    background-color: #026e81;
    width: 30px;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~.menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
    width: 30px;
  }
  nav .menu-btn:checked ~.menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
  }
  .menu-btn {
    display: none;
  }

  nav .menu-btn:checked ~.menu{
    display: block;
    z-index: 10;
    position: absolute;
    top: 0px;
    margin-top: 61px;
    left: 0px;
    background-color: white;
    width: 100%;
    padding-left: 0px;
    font-size: 18px
  }
  nav .menu-btn:checked ~.menu li{
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .work-drop{
    display: block;
    position: relative;
    top: auto;
    left: auto;
    padding: 0px;
    height: auto;
    box-shadow: none;
  }
  .work-nav-box p{
    display: none;
  }
  .work-nav-title{
    display: none;
  }
  .work-nav-container{
    width: 100%;
    flex-direction: column;
  }
  .work-nav-box{
    width: 100%;
  }
  .work-nav-box h3{
    font-size: 12px;
    margin: 0px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  #nav-cont:hover .fa-solid {
    transform: translateX(10px);
    color: #00abbd;
    
  }
 
}
