:root {
  --main-dark: #026e81;
  --main-blue: #0099dd;
  --main-teal: #00abbd;
  --main-orange: #ff9933;
  --main-light: #a1c7e0;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 20;
  padding: 10px;
  justify-content: space-around;
  transform: translateY(-10px);
}
.nav-box {
  width: 80%;
  display: flex;
}

.nav-logo {
  width: 150px;
}
.nav-container {
  display: flex;
  list-style-type: none;
  width: 90%;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-links {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-weight: 500;
}
.nav-container i {
  padding-left: 8px;
  font-size: 13px;
  transition: transform 0.2s ease-in-out;
}
.fa-solid{
  transition: transform 0.2s ease-in-out;
}

#nav-cont:hover .fa-solid{
  transform: translateX(5px) translateY(-3px) rotate(90deg);
  color: #00abbd;
}
#nav-cont:focus .fa-solid{
  color: #00abbd;
}
#nav-cont:hover .nav-links{
  color:#00abbd

}

.nav-contact {
  width: 300px;
  display: flex;
  place-content: center;
  align-items: center;
}

.nav-contact >*{
  text-decoration: none;
  padding: 10px 30px;
  color: var(--main-orange);
  border-radius: 20px;
  border: solid 2px var(--main-orange);
  transition: 0.5s;
  font-family: "Bold";
}
.nav-contact>*:hover {
  color: white;
  background-color: #ff9933;
}

.work-drop{
  height: 300px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 19;
  opacity: 1;
  transition:opacity.2s;

}
.work-hidden{
  position: absolute;
  top: 80px;
  left: 0px;
  opacity: 0;
  z-index: -5;
  transition:opacity.2s;
}